* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lemon', serif;}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    max-width: 100%;
    background: #ff7b00;
    user-select: none;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.897);
    z-index: 1000;
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 25px;
}

.overlay-content h3{
    background-image: linear-gradient(45deg, #ffae00, #ff3c00);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10PX;

}

.start-button, .restart-button {
    padding: 15px 10px;
    width: 300px;
    font-size: 1.5em;
    border: none;
    border-radius: 10px;
    background: linear-gradient(45deg, #ffae00, #ff3c00);
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin-top: 20px;
    font-size: 30px;
}

.start-button:hover, .restart-button:hover {
    background: linear-gradient(45deg, #fbff00, #ff7300);
}

.start-button:focus, .restart-button:focus {
    outline: none;
}

.overlay-content h3 {
    font-size: 1em;
    margin-bottom: 10px;
}


.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: linear-gradient(
        325deg,
        #c8ff00,
        #d6fc00,
        #ffd000,
        #ffd900
    );
    padding: 35px 60px;
}

.titulo-container{
    display: flex;
    justify-content: space-between;
    margin: -10px 0 -30px 0;
}

.tempo{
    display: flex;
    gap: 0 30px;
    margin-bottom: -20px;
}

#tempo-container.dark h3{
    color: #ff7b00
}

h2 {
    font-size: 1.8em;
    color: #000000cc;
    margin-right: 70px;
    line-height: 25px;
    text-transform: uppercase;
    -webkit-box-reflect: below 0 linear-gradient(transparent, rgba(0,0,0,0.5));
}

.trilho{
    width: 70px;
    height: 20px;
    border-radius: 25px;
    background: #dadadae7;
    position: relative;
    cursor: pointer;
}

.trilho .indicador{
    width: 35px;
    height: 35px;
    margin-top: -7px;
    border-radius: 50%;
    background-color: #000000e7;
    position: absolute;
    left: 0;
    transition: .5s;
}

.trilho .indicador:hover{
    background-color: #000000ab;
}

.tempo{
    display: flex;
    margin-top: 20px;
}


.reset {
    padding: 15px 20px;
    width: 100%;
    color: #000;
    background: linear-gradient(45deg, #ffae00, #ff3c00); 
    border: none;
    border-radius: 10px;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    transition: .5s;

}

.reset:hover {
    background: linear-gradient(45deg, #fbff00, #ff7300); 
    box-shadow: 0px 0px 8px #000000;
}

.reset:focus {
    color: #000000;
    background: linear-gradient(45deg, #ffae00c2, #ff3c00b0); 
}

.game {
    width: 350px;
    height: 380px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
  
}

.item {
    position: relative;
    border-radius: 10px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    font-size: 4em;
    transform: rotateY(180deg);
    transition: 0.50s;
    cursor: pointer;
}

.item::after {
    content: "";
    position: absolute;
    border-radius: 10px;
    inset: 0;
    background: linear-gradient(45deg, #ffae00, #ff3c00); 
    box-shadow: 0px 0px 8px #000000;
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    transition: .5s;
}

.item:hover::after{
    background: linear-gradient(45deg, rgb(251, 255, 0), #ff7300);
    box-shadow: 0px 0px 20px #000000;
    border: none;

}

.item.boxOpen {
    transform: rotateY(0deg);
}

.boxOpen::after, .boxMatch::after {
    transform: rotateY(180deg);
}

/* estilo de cor dark */

body.dark{
    background-color: #000000;
}

.container.dark{
background: #1b1b1b;
}

h2.dark{
    color: #ff7b00
}

.trilho.dark{
    background: #808080;
}

.trilho.dark .indicador{
    left: 35px;
    background: linear-gradient(45deg, #ffae00, #ff3c00);
    transition: .5s;
}

.trilho.dark .indicador:hover{
    background: linear-gradient(45deg, rgb(251, 255, 0), #ff7300);
}


.reset.dark{
    background: linear-gradient(45deg, #ffae00, #ff3c00);
    transition: .5s;
}

.reset.dark:hover {
    background: linear-gradient(45deg, rgb(251, 255, 0), #ff7300);
    box-shadow: 0px 0px 8px #000000;
}

@media screen and (max-width: 500px){


    h2{
        font-size: 25px;
    }
}

